@using Components.Models;
@page "/MagicAchievements"
@attribute [StreamRendering]

<PageTitle>Magic Achievements</PageTitle>

<h1>Magic Achievements</h1>
Auflistung aller Achievements.

@if (MagicAchievementsCollection == null)
{
    <p><em>Loading...</em></p>
}
else
{
    // Copy here for Entries in txt. Verzweifel nicht :)
    //<th aria-label="Temperature in Celsius">Temp. (C)</th>
    <table class="table">
        <thead>
            <tr>
                <th>Spieler</th>
                <th>Erstellt am</th>
                <th>Achievements</th>
                <th>Achievementspunkte</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var MagicAchievement in MagicAchievementsCollection)
            {
                <tr>
                    <td>@MagicAchievement.Name</td>
                    <td>@MagicAchievement.Bild</td>
                    <td>@MagicAchievement.Punktzahl</td>
                    <td>@MagicAchievement.Anforderungen</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private MagicAchievement[]? MagicAchievementsCollection;

}
