@using Components.Models;
@page "/Spielerübersicht"
@attribute [StreamRendering]


<h3>Spielerübersicht</h3>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    // Copy here for Entries in txt. Verzweifel nicht :)
    //<th aria-label="Temperature in Celsius">Temp. (C)</th>
    <table class="table">
        <thead>
            <tr>
                <th>Spieler</th>
                <th>Erstellt am</th>
                <th>Achievements</th>
                <th>Achievementspunkte</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.CreatedOn</td>
                    <td>@user.Achievements</td>
                    <td>@user.Achievementpoints</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    //private User[]? users;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        TestUser user = new TestUser
            {
                Name = "Testnutzer",
                CreatedOn = DateOnly.FromDateTime(DateTime.Now),
                Achievements = [],
                Achievementpoints = 69
            };
    }

    public class TestUser
    {
        public required String Name { get; set; }
        public DateOnly CreatedOn { get; set; }
        public MagicAchievement[]? Achievements { get; set; }
        public int Achievementpoints { get; set; }
    }
    TestUser[] users = [new TestUser
            {
                Name = "Testnutzer",
                CreatedOn = DateOnly.FromDateTime(DateTime.Now),
                Achievements = [],
                Achievementpoints = 69
            }];
}
